@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    
@{
    Layout = "~/Views/Shared/_DocsLayout.cshtml";
    ViewData["Title"] = "Übersicht";
}

<div class="text-center">
    <h1 class="display-4">
        Willkommen im<br />
        I-AG Dokumentationsbereich
    </h1>
</div>