<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!--<default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />-->
    <target name="logFile" xsi:type="File"
            fileName="../logs/log-${shortdate}.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            archiveOldFileOnStartup="true"
            maxArchiveDays="45"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logFile" />
    <logger name="IAG*" minlevel="Warn" writeTo="logFile" />
  </rules>
</nlog>