@model HomeViewModel
@{
    ViewData["Title"] = "Übersicht";
}

<div class="text-center">
    <h1 class="display-4">
        Willkommen beim<br />
        I-AG Inventory & Installation Client
    </h1>
    <p>
        (Version <span id="current-version">@Model.CurrentReleaseVersion</span>)
    </p>

    @if (string.IsNullOrEmpty(Model.ErrorMessage))
    {
        @if (!Model.SelfUpdateJobId.HasValue)
        {
            <form asp-action="StartSelfUpdate">
                <input type="submit" class="btn btn-primary" value="Auf Update prüfen" />
            </form>
        }
        else { 
            @await Html.PartialAsync("_JobLog", new JobLogModel()
            {
                JobId = Model.SelfUpdateJobId.Value,
                JobActionName = "Update"
            })
        }
    }
    else
    {
        <p>
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        </p>
    }
</div>