@model CustomerViewModel
@{
    ViewData["Title"] = "Kunde";
}

<div class="text-center">
    @if (Model?.CustomerId == null || !string.IsNullOrEmpty(Model.ErrorMessage) || Model.ForceEdit)
    {
        <h1 class="display-4">
            Willkommen beim<br/>
            I-AG Inventory & Installation Client
        </h1>
        <form asp-action="Index">
            <div class="form-group">
                <label>Bitte geben Sie Ihre Kunden-ID ein:</label>
                <input class="form-control" asp-for="CustomerId" />
            </div>
            <input type="submit" class="btn btn-primary" value="Ok" />
            @if (Model == null || Model.ForceEdit)
            {
                <a asp-action="Index" class="btn btn-secondary">Abbrechen</a>
            }
        </form>
        @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
        {
            <p>
                <div class=" alert alert-danger">@Model.ErrorMessage</div>
            </p>
        }
    }
    else
    {
        <h2>Kundeninformation</h2>

        <p>Kunde: @(Model.CustomerName)</p>
        <p>
            Kunden-ID: @(Model.CustomerId) <a class="btn btn-link" asp-action="Edit">(Ändern)</a>
        </p>
    }
</div>
